@font-face {
    font-family: 'Montserrat';
    src: url('../src/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../src/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../src/fonts/Ubuntu-Regular.woff2') format('woff2'),
        url('../src/fonts/Ubuntu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../src/fonts/Ubuntu-Medium.woff2') format('woff2'),
        url('../src/fonts/Ubuntu-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

